.body_block {
    background-color: #eef3dc !important;
}
.register-container{
	margin-top: 1em;
}
.register-container img{
	align-self: flex-end;
}
.register-container .title{
	background: #fd66c3;
	padding: 10px;
	margin-bottom: 1em;
}
.register-container .title h1{
	font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: -8px;
}
.register-container .title span{
	font-size: 13px;
	color: #fff;
}
.register-container input{
	border: 1px solid #fd66c3;
	color: #fd66c3 !important;
	background: #fff;
}
.register-container select{
	border: 1px solid #fd66c3;
	/*color: #fd66c3 !important;*/
	background: #fff;
	height: -webkit-fill-available !important;
}
.register-container .checkbox{
	display: flex;
	font-size: 13px;
	color: #000;
}
.register-container .checkbox div{
	border: 1px solid #fd66c3;
	color: #fd66c3;
	background: #fff;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 5px;
}
.register-container .checkbox input{
	display: none;
}